/*VARIABLES*/
/* ensure view-body takes up whole height of screen */
.view-body {
  height: 100%;
}

/* custom class to vertically align block elem in parent*/
/* parent needs to have relative position*/
.vertical-align {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/*VARIABLES*/
.menu-bar {
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 1000;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #00898f;
  color: white;
  padding: 20px;
}

.menu-bar .first-half {
  display: flex;
  flex-flow: row nowrap;
}

.menu-bar .first-half .header-logo {
  flex-grow: 2;
}

.menu-bar .first-half .header-logo h2 {
  margin: 0;
}

.menu-bar .first-half .header-buttons {
  margin-left: 25px;
}

.menu-bar .first-half .header-buttons button {
  background-color: #00898f;
  border: 2px solid white;
  margin: 0 15px;
}

.menu-bar .second-half {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.menu-bar .second-half .header-text {
  border-right: 2px solid white;
  margin: 0 15px;
  padding: 0 20px;
}

.menu-bar .second-half .header-text span {
  display: block;
  font-style: italic;
  text-align: right;
}

.menu-bar .second-half .header-links a {
  color: white;
  text-decoration: underline;
}

@media screen and (max-width: 650px) {
  .header-text {
    display: none;
  }
}

/*VARIABLES*/
/* for view-body on login page */
.full-screen-photo {
  background-image: url("img/login-photo.jpg");
  background-size: cover;
}

#user-access-form {
  background-color: #d3d3d3;
  border-radius: 5px;
  padding-bottom: 20px;
}

#user-access-form .heading-box {
  text-align: center;
}

#user-access-form .heading-box h1 {
  margin: 0 auto;
  margin-top: 10px;
  font-weight: bold;
}

#user-access-form p {
  text-align: center;
}

/*VARIABLES*/
.view-body {
  padding-top: 60px;
}

.side-panel {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  padding: 20px;
}

.side-panel .trip-info {
  flex-grow: 1;
}

.side-panel .trip-info h1 {
  margin-top: 0;
}

.side-panel .user-stats {
  padding: 20px;
  box-shadow: 5px 5px 5px #888888;
  flex-grow: 2;
}

.side-panel .location-box {
  flex-grow: 1;
  padding-left: 20px;
}

@media (max-width: 600px) {
  .side-panel {
    flex-flow: column nowrap;
  }
}

.main-panel {
  padding: 20px;
}

.accordion-toggle {
  cursor: pointer;
}

/*VARIABLES*/
.trip-info-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.trip-info-container .trip-heading-container {
  margin-left: 20px;
}

.trip-info-container .trip-heading-container h2 {
  margin: 0;
}

.stop-box {
  padding: 10px;
}

.stop-box .stop-wrapper {
  background-color: #00898f;
  color: white;
  border-radius: 3px;
  height: 200px;
  display: flex;
  flex-grow: row nowrap;
  align-items: center;
}

.stop-box .stop-wrapper img, .stop-box .stop-wrapper .stop-details {
  margin-left: 15px;
}
