/*VARIABLES*/
/* ensure view-body takes up whole height of screen */
.view-body {
  height: 100%;
  position: relative;
}

/* custom class to vertically align block elem in parent*/
/* parent needs to have relative position*/
.vertical-align {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/*VARIABLES*/
.menu-bar {
  width: 100%;
  height: 60px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #355DBF;
  color: white;
  padding: 20px;
}

.menu-bar .first-half {
  display: flex;
  flex-flow: row nowrap;
}

.menu-bar .first-half .header-logo {
  flex-grow: 2;
}

.menu-bar .first-half .header-logo h2 {
  margin: 0;
}

.menu-bar .first-half .header-buttons {
  margin-left: 25px;
}

.menu-bar .first-half .header-buttons button {
  background-color: #355DBF;
  border: 2px solid white;
  margin: 0 15px;
}

.menu-bar .second-half {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.menu-bar .second-half .header-text {
  border-right: 2px solid white;
  margin: 0 15px;
  padding: 0 20px;
}

.menu-bar .second-half .header-text span {
  display: block;
  font-style: italic;
  text-align: right;
}

.menu-bar .second-half .header-links a {
  color: white;
  text-decoration: underline;
}

/*VARIABLES*/
/* for view-body on login page */
.full-screen-photo {
  background-image: url("img/login-photo.jpg");
  background-size: cover;
}

#user-access-form {
  background-color: #d3d3d3;
  border-radius: 5px;
  padding-bottom: 20px;
}

#user-access-form .heading-box {
  text-align: center;
}

#user-access-form .heading-box h1 {
  margin: 0 auto;
  margin-top: 10px;
  font-weight: bold;
}

#user-access-form p {
  text-align: center;
}
