<menu-bar user-data="userData" curr-data="currData"></menu-bar>
<div class="view-body container-fluid">
  <div class="row row-wrapper">
    <div class="side-panel col-md-3">
      <div class="trip-heading-container">
        <h2>{{tripData.name}}</h2>
        <h4 ng-show="tripData.isActive">Trip Status: <span class="active">ACTIVE</span></h4>
        <h4 ng-hide="tripData.isActive">Trip Status: <span class="completed">COMPLETED</span></h4>
      </div>
      <div class="trip-stats">
        <p><em>Stats:</em></p>
        <p><strong>Stops: </strong> {{currTripStats.stops}} </p>
        <p><strong>Countries: </strong>{{currTripStats.countries}}</p>
        <p><strong>Distance: </strong>{{currTripStats.distance}}</p>
      </div>
      <div class="button-container">
          <button ng-click="toggleForm()" type="button" name="button" class="btn btn-primary">Add Stop</button>
          <button ng-show="tripData.isActive" ng-click="endCurrentTrip()" type="button" name="button" class="btn btn-warn">End Trip</button>
          <button ng-click="deleteCurrentTrip()" type="button" name="button" class="btn btn-danger">Delete Trip</button>
      </div>
    </div>

    <!-- ng-hide this button if the trip on the page is not the current trip-->
    <div ng-show="showForm" class="form-container row col-md-9">
      <form class="new-stop-form form-inline">
        <div class="form-heading-container">
          <h5>Add a new stop to {{tripData.latestTrip.name}} trip.</h5>
          <h6>Select "Past Stop" to submit a stop for this trip that you have already completed.</h6>
        </div>
        <div class="form-group">
          <label for="old-trip-name">Stop: </label>
          <city-search city-data="newStopObj.stopData"></city-search>
        </div>
        <div class="form-group">
          <div class="form-group">
            <div class="form-group">
              <label for="start-date-input">Arrive Date: </label>
              <input type="date" ng-model="newStopObj.arriveTimestamp" id="start-date-input">
            </div>
            <div class="form-group">
              <label for="end-date-input">Depart Date: </label>
              <input type="date" ng-model="newStopObj.departTimestamp" id="end-date-input">
            </div>
          </div>
          <div class="button-group form-group">
            <button ng-click="addStopToTrip(currTripId, newStopObj)" class="btn btn-primary">Add Trip</button>
          </div>
        </div>
      </form>
    </div>



    <div class="stop-box-container col-md-9 row">
      <div ng-repeat="stop in allStops | orderBy: '-departTimestamp'" class="stop-box col-md-6">
        <div class="stop-wrapper">
          <div class="stop-map-wrapper">
            <img src="{{getMapUrl(stop.stopData.geo.lat, stop.stopData.geo.lng)}}"></img>
          </div>
          <div class="stop-details">
            <p><strong>Place: </strong>{{stop.stopData.placeString}}</p>
            <p><strong>Arrive Date: </strong>{{stop.arriveTimestamp | date: 'MM/dd/yyyy' }}</p>
            <p><strong>Depart Date: </strong>{{stop.departTimestamp | date: 'MM/dd/yyyy'}}</p>
            <button type="button" class="btn btn-warning">Delete Stop</button>
          </div>
        </div>
      </div>
    </div>

  </div> <!--wrapper-->
</div> <!--end -->
