@import '../variables';

$background-color: #f5f5f5;
$panel-margin: 20px;
$menu-height: 60px;
$box-margin: 10px;
$stats-padding: 40px;

.view-body {
  padding-top: $menu-height;
}

.side-panel {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: $background-color;
  padding: $panel-margin;
  text-align: center;

    .top-content {
      h1, h2 { // h2 for side
        margin-top: 0;
        text-align: center;
      }
    }

    .stats-box {
      padding: $box-margin $stats-padding;
      margin-top: $box-margin;
      background-color: white;
    }

    .location-box {
      padding-left: $panel-margin;
      text-align: center;
    }
}

@media screen and (max-width: 993px) {
  .side-panel {
    flex-flow: row nowrap;
    justify-content: space-around;

    .stats-box {
      margin-left: $panel-margin;
    }
  }
}

@media (max-width: 625px) {
  .side-panel {
    flex-flow: column nowrap;

      .top-content {
        h1 {
          font-size: 30px;
          margin-top: $box-margin;
        }
      }
  }
}

.main-panel {
  padding: $panel-margin;

  .form-inline {
    border: $form-border;
    border-radius: $master-border-radius;
    padding: $panel-margin;
  }
}

.accordion-toggle {
  cursor: pointer;
}
