@import '../variables';

$trip-info-margin: 20px;
$stop-box-border: 1px solid black;
$stop-box-height: 200px; // same as map
$stop-box-internal-margin: 15px;

/*
Sidebar rules imported from mytrips.scss
*/

.button-container {
  text-align: center;
  button {
    margin-top: 10px;
  }
}

.form-container {
  padding-left: $stop-box-internal-margin;
  padding-right: $stop-box-internal-margin;
  text-align: center;

  h5 {
    margin-top: 0;
  }
}

.stop-box {
  padding: $stop-box-internal-margin;
  padding-top: 0;

  .stop-wrapper {
    background-color: $menu-color;
    color: white;
    padding: 5px;
    border-radius: $master-border-radius - 2px;
    height: $stop-box-height;
    display: flex;
    flex-grow: row nowrap;
    align-items: center;

    img, .stop-details  {
      margin-left: $stop-box-internal-margin;
    }


  }
}

@media screen and (max-width: 600px) {
  .stop-box {
    .stop-wrapper {
      img {
        width: 25vw;
        height: auto;
      }
    }
  }
}
