@import '../variables';

$trip-info-margin: 20px;
$stop-box-border: 1px solid black;
$stop-box-height: 200px; // same as map
$stop-box-internal-margin: 15px;
$main-box-shadow: 5px 5px 5px 5px #888888;


.trip-heading-container {
  h2, h4 {
    text-align: center;
  }
}

.button-container {
  text-align: center;
  button {
    margin-top: 10px;
  }
}

.trip-stats {
  box-shadow: $main-box-shadow;
  padding: $trip-info-margin;
  margin-top: $trip-info-margin;
}

@media (max-width: 992px) {
  .trip-sidebar-top {
    flex-grow: 3;
  }

  .trip-stats, .location-box {
    flex-grow: 2;
  }

  .location-box {
    margin-left: $trip-info-margin;
  }
}

.form-container {
  padding-left: $stop-box-internal-margin * 2;
}

.stop-box {
  padding: 10px;

  .stop-wrapper {
    // border: $stop-box-border;
    background-color: $menu-color;
    color: white;
    border-radius: $master-border-radius - 2px;
    height: $stop-box-height;
    display: flex;
    flex-grow: row nowrap;
    align-items: center;

    img, .stop-details  {
      margin-left: $stop-box-internal-margin;
    }
  }
}
