@import '../variables';

$menu-color: $form-color;
$menu-text-color: white;
$menu-height: 60px;
$menu-padding: 20px;
$menu-logo-flex-grow: 3;
$menu-links-padding: 7px;
$menu-item-border: 2px solid white;

.menu-bar {
  width: 100%;
  height: $menu-height;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: $menu-color;
  color: $menu-text-color;
  padding: $menu-padding;

  .first-half {
    display: flex;
    flex-flow: row nowrap;

    .header-logo {
      flex-grow: 2;

      h2 {
        margin: 0;
      }
    }

    .header-buttons {
      margin-left: 25px;
      button {
        background-color: $menu-color;
        border: $menu-item-border;
        margin: 0 $button-margin;
      }
    }
  }

  .second-half{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .header-text {
      border-right: $menu-item-border;
      margin: 0 $button-margin;
      padding: 0 $menu-padding;
      span {
        display: block;
        font-style: italic;
        text-align: right;
      }
    }

    .header-links {
      a {
        color: $menu-text-color;
        text-decoration: underline;
      }
    }
  }

}

@media screen and (max-width: 650px) {
  .header-text {
    display: none;
  }
}
